{% extends "index.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Change Password</li>
      </ol>
      <h2>Change Password</h2>
        <form action="/changepw" method="post">
            <div class="form-group row">
              <label for="InputOldPassword" class="col-sm-2 col-form-label">Old Password</label>
              <div class="col-md-4">
                <input type="password" class="form-control" name="originalpw" placeholder="Old Password" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputNewPasswor" class="col-sm-2 col-form-label">New Password</label>
              <div class="col-md-4">
                <input type="password" class="form-control" name="newpw" placeholder="New Password" required>
              </div>
            </div>
            <div class="form-group row">
                <label for="ConfirmNewPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-md-4">
                  <input type="password" class="form-control" name="newpwagain" placeholder="Confirm Password" required>
                </div>
              </div>
            
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Change</button>
              </div>
            </div>
          </form>

    </div>
  </section><!-- End Breadcrumbs -->
    
    
{% endblock %}
